<div class="bg-gray-50 min-h-screen py-8 px-4">
  <app-filter (filtersChanged)="onFiltersChanged($event)"></app-filter>

  <div class="mt-10">
    <h1 class="text-2xl font-medium text-center mb-8 text-gray-800">Products</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (product of products; track $index) {
      <app-product-card [product]="product" [isAddedToCart]="addedToCart[product.id]" (addToCart)="addToCart(product)"
        (productSelected)="navigateToProductDetail($event)">
      </app-product-card>
      }
    </div>
  </div>

  <div class="mt-8">
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [itemsPerPage]="itemsPerPage"
      [totalItems]="filteredProducts.length" (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>
</div>